affine==2.4.0
aiobotocore==2.5.4
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aioitertools==0.11.0
aiosignal==1.3.1
alphabase==1.2.5
anndata==0.10.8
array_api_compat==1.8
asciitree==0.3.3
ashlar==1.18.0
async-timeout==4.0.3
attrs==24.1.0
biopython==1.84
blessed==1.20.0
botocore==1.31.17
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colorcet==3.1.0
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
dask==2024.7.1
dask-expr==1.1.9
dask-image==2024.5.3
datashader==0.16.3
distributed==2024.7.1
exceptiongroup==1.2.2
fasteners==0.19
fonttools==4.43.0
frozenlist==1.4.1
fsspec==2023.6.0
geopandas==1.0.1
h5py==3.11.0
idna==3.7
imagecodecs==2024.6.1
imageio==2.34.2
importlib_metadata==8.2.0
importlib_resources==6.1.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
llvmlite==0.43.0
locket==1.0.0
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.1
mdurl==0.1.2
msgpack==1.0.8
multidict==6.0.5
multipledispatch==1.0.0
multiscale_spatial_image==1.0.1
munkres==1.1.4
natsort==8.4.0
networkx==3.2.1
numba==0.60.0
numcodecs==0.12.1
numpy==1.26.4
ome-zarr==0.9.0
packaging==23.2
pandas==2.2.2
param==2.1.1
partd==1.4.2
pillow==10.0.0
PIMS==0.7
platformdirs==4.2.2
pooch==1.8.2
psutil==6.0.0
pyahocorasick==2.1.0
pyarrow==17.0.0
pycairo==1.25.0
pycparser==2.21
pyct==0.5.0
Pygments==2.18.0
PyGObject==3.46.0
pyjnius==1.6.1
pyogrio==0.9.0
pyparsing==3.1.2
pyproj==3.6.1
pyteomics==4.7.3
python-dateutil==2.8.2
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
rasterio==1.3.10
regex==2024.7.24
requests==2.32.3
rich==13.7.1
s3fs==2023.6.0
scikit-image==0.19.3
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.5
six==1.16.0
slicerator==1.1.0
snuggs==1.4.7
sortedcontainers==2.4.0
spatial_image==1.1.0
spatialdata==0.2.1
tblib==3.0.0
threadpoolctl==3.5.0
tifffile==2024.7.24
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
unicodedata2==15.0.0
urllib3==1.26.19
wcwidth==0.2.13
wrapt==1.16.0
xarray==2024.7.0
xarray-dataclasses==1.8.0
xarray-datatree==0.0.14
xarray-schema==0.0.3
xarray-spatial==0.4.0
xxhash==3.4.1
yarl==1.9.4
yattag==1.15.2
zarr==2.18.2
zict==3.0.0
zipp==3.16.2
zstandard==0.22.0
